@import "../../styles/_variables.css";

.$(cls-prefix)-flex-table {
    display: flex;
    flex-direction: column;
}

.$(cls-prefix)-flex-table_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.$(cls-prefix)-flex-table_row__element {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    margin: auto;
}