$listItem: #4b5c70;
$selectedItem: #96a7b7;
$itemHover: #4b5c70;
$backgroundHover: #eaedf1;
$itemPlaceholder: #96a7b7;
$jqSelectboxSelectBackground: #fff;
$jqSelectboxSelectBorder: #d7d7d7;
$jqSelectboxSelectHover: #bebebe;
$jqSelectboxFocusedBorder: #bebebe;
$textmask: #a9a9a9;
$jqSelectboxTrigger: #252525;
$jqSelectboxDropdown: #fff;
$jqSelectboxDisabled: (
  background: #f5f5f5,
  border-color: #ccc,
  color: #888,
);
$jqHasError: (
  background-color: #fce8e9 !important,
  border-color: #d7d7d7,
  color: #e01f2b,
);

@mixin print-styles($map) {
  @each $property, $value in $map {
    #{$property}: $value;
  }
}

.jq-selectbox {
  border: 0;
  cursor: pointer;
  padding: 0;
  ul {
    margin: 0;
    padding: 6px 0;
  }
  li {
    color: $listItem;
    font-size: 15px;
    max-width: 100%;
    min-height: 18px;
    padding: 9px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &.selected {
      color: $selectedItem;
      &:hover {
        color: $itemHover;
      }
    }
    &:hover {
      background-color: $backgroundHover;
    }
    &.disabled {
      color: rgba(150, 167, 183, 0.5);
      cursor: default;
      &:hover {
        background: none;
      }
    }
  }
  .placeholder {
    color: $itemPlaceholder;
  }
}

.jq-selectbox__select {
  background: $jqSelectboxSelectBackground;
  border: 1px solid $jqSelectboxSelectBorder;
  border-radius: 3px;
  font-size: 15px;
  height: 42px;
  line-height: 40px;
  padding: 0 45px 0 12px;
  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  &:hover, &:active {
    border-color: $jqSelectboxSelectHover;
  }
}

.jq-selectbox {
  &.focused .jq-selectbox__select {
    border-color: $jqSelectboxFocusedBorder;
  }
  &.disabled .jq-selectbox__select {
    @include print-styles($jqSelectboxDisabled);
  }
}

.has-error .jq-selectbox__select {
  @include print-styles($jqHasError);
}

.jq-selectbox__select-text {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jq-selectbox.changed .jq-selectbox__select-text {
  opacity: 1;
  filter: alpha(opacity = 100);
}

.jq-selectbox__select-text .textmask {
  color: $textmask;
}

.jq-selectbox__trigger {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 34px;
}

.jq-selectbox__trigger-arrow {
  border-top: 5px solid $jqSelectboxTrigger;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  height: 0;
  margin-top: -2px;
  overflow: hidden;
  position: absolute;
  right: 12px;
  top: 50%;
  width: 0;
  opacity: 0.35;
  filter: alpha(opacity = 35);
  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.jq-selectbox {
  &:hover .jq-selectbox__trigger-arrow {
    opacity: 0.5;
    filter: alpha(opacity = 50);
  }
  &.disabled .jq-selectbox__trigger-arrow {
    opacity: 0.1;
    filter: alpha(opacity = 10);
  }
}

.jq-selectbox__dropdown {
  background: $jqSelectboxDropdown;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  top: 42px;
  width: 100% !important;
  -webkit-box-shadow: 0 4px 59px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 59px rgba(0, 0, 0, 0.15);
}

.jq-selectbox.select-sm {
  li {
    padding: 4px 20px 5px;
  }
  .jq-selectbox__select {
    font-size: 15px;
    height: 35px;
    line-height: 33px;
    padding: 0 30px 0 10px;
  }
  .jq-selectbox__dropdown {
    top: 35px;
  }
  .jq-selectbox__trigger-arrow {
    border-width: 4px 4px 0 4px;
    right: 10px;
  }
}
