@import "../../styles/_variables.css";

$red-danger: #e01f2b;

.$(cls-prefix)-form-array {
  .$(cls-prefix)-fieldset .input-set-col .control-label {
    display: block;
    height: 42px;
  }

  .popover-close {
    &:hover,
    &:focus {
      border-bottom-color: #f0b6ba;
      color: $red-danger;
      text-decoration: none;
    }
  }

  .error-message {
    color: $red-danger;
  }
}
