@import "../../styles/variables";

$modal-image-bg-clr: #fff;
$modal-header-height: 60px;

.#{$cls-prefix}-modal {
  .header-wrap {
    position: relative;
    height: $modal-header-height;
    padding-left: $modal-header-height + 20px;
  }

  .header-image,
  .header-title {
    display: table;
    table-layout: fixed;
  }

  .header-image {
    background: $modal-image-bg-clr;
    border: 3px solid $modal-image-bg-clr;
    border-radius: 5px;
    height: $modal-header-height;
    width: $modal-header-height;

    position: absolute;
    top: 0;
    left: 0;

    span {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }

    img {
      display: inline-block;
      width: 100%;
    }
  }

  .header-title {
    height: $modal-header-height;
    width: 100%;

    h4 {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .modal-header {
    button.close {
      position: absolute;
      right: 0;
      top: 0;
      padding: 5px;
    }
  }
}
