@import "../../styles/_variables.css";

$modal-image-bg-clr: #fff;
$modal-header-height: 60px;
$footer-background-clr: #f3f3f3;
$footer-border-clr: #e1e1e1;
$header-background-clr: #f3f3f3;
$header-border-clr: #e1e1e1;
$hover-close-button-clr: #252525;
$modal-title-color: #252525;
$modal-subtitle-color: #9E9E9E;

.$(cls-prefix)-modal {
  .modal-dialog {
    &.modal-md {
      width: 744px;
    }

    &.modal-sm {
      width: 400px;

      .modal-body {
         padding: 24px 28px;

        .form-global-error {
          .alert.alert-danger.validation {
            font-size: 13px;
            border-color: #96a7b7;
            border-style: dashed;
            padding: 20px;
          }
        }

        .form-content > .form-group {
          margin-left: 0;
          margin-right: 0;
        }

        button.close {
          background-color: transparent;
          color: #96a7b7;
          right: 3px;
          top: 3px;

          &:hover {
             color: #4b5c70;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  .header-wrap {
    position: relative;
    height: $modal-header-height;
    padding-left: calc($modal-header-height + 20px);
  }

  .header-image,
  .header-title {
    display: table;
    table-layout: fixed;
  }

  .header-image {
    background: $modal-image-bg-clr;
    border: 3px solid $modal-image-bg-clr;
    border-radius: 5px;
    height: $modal-header-height;
    width: $modal-header-height;

    position: absolute;
    top: 0;
    left: 0;

    span {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }

    img {
      display: inline-block;
      width: 100%;
    }
  }

  .header-title {
    height: $modal-header-height;
    width: 100%;

    h4.title {
      display: table-cell;
      vertical-align: middle;
      font-size: 19px;
      line-height: 27px;
      color: $modal-title-color;
    }

    h5.subtitle {
      color: $modal-subtitle-color;
      font-size: 14px;
      line-height: 16px;
      margin: 0;
      padding: 5px 0 7px;
      white-space: pre-wrap;
      display: table-row;
    }
  }

  .modal-header {
    background-color: $header-background-clr;
    border-bottom: 1px solid $header-border-clr;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 24px 20px;
  }

  .modal-help {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFYAAACtCAQAAACACkCmAAAJN0lEQVR4AdXb3ZOW5X3A8d+kSdNpap1qkcP+CT3rQY46PUt7lCbN1BkJwaAh1SqaoIIYcF/QkAYVqqkDtFZBcBEwbo2CATRAEyXB0AZI3F3kRVB522Xfnue5X65PT3amw0QGWJ692fv7O3xOPvOba+a+99q5w1dEXSaoDzeoDzeoDzeoDzeoDzeoDzeoDzeoDzeoDzeoDzeoDzeoDzeoDzfIa8MNMpBqwI0kgXGmPTcypYSsBtuNhhIlaDCtuZEjUyiU8mm+3SiNG5WjCVpMW24UaMhlSqWkUExbbjSdQzKMpJCUKKclN5Zb64gkKZA0TdCnITe+ZItFknHnMSoh12QacuMBuzyEcwql0/IJ6rg07bixw2o9hjUNGdIyqqWUDCunHTde9BVvO2mHTY4hU2ihVErTjBudnnKn99ztQX0GwZCEEhnTiBsf4TFf89cetEaPfrmmQgItFNOGG2T6fNEXPWetd3TJUCrkKKVp9IoTZ43baLnbvOJDhz2FC2AMFApJk2nAje2O6fdbj9jphBd0elKvgxpypRwUGtNiu7HYTi2Ze7ztp+72t7r9j+8aQlNDE5lcLuM6c+M5y21z0jtes8VcqzDgVplR5M5LEsaV1327UdjiUdtxwmkL/RLrzPcruw0oFHIZmgqu89kNCj1W2G0U99rnx/7BU3rssdAICsNIRtCQriM3CqfRa4FdhuzV637zrfaafRY4qokcmQy5kuvGjUHDKD2r2xtyfT622Vv67LTGvxl2AMkwEorryI2jGDSCjbr8whkssN82m623wAGzjSFHAXKuEzd2SU4aQ2GLbm84b68nrPav/t6/+52V+uQgV0qK6/ZUi17/oSXXNI4N/sWr2O+CZe41YtRKqwzqx7gGSpmmXLNybmwx12njzmjIsdV8v5DwuB1+42F/pcth3zUid1aSS8iUWhVz40se966nHFO4oCnznB/6b6f9r2es8TXf8TMH3W8naGhKMhQKLSrkxix7vO7blmj6RAts8UPbjTlo2ONexe+s8I4xJ5WamjJNQ8ikCrcbm2X6rHSPAR+CIWy0xJtK/Mjr9lrqSS/a5H5n5AYxLEdOhduN/9TvGX9nt81+jYZzGLVBpz2OO+D7OnRY4k5bPW0LaBqVyY2hoCJuHHKb23zVfk/bYaWzCuPG0KPbzw16z3FvWm1A0uv7OKGpdF6hqPSPn2CrXVY575Ct5oGP5RJe0uGXGuixxXFv6zTPbnc7hjEkCU2pEm6M4yPrDPjYE57Xp9MpSQbWW6HXiMPusNkiX/ZNe2y0AcMaMrkSiQq4URo26KA77LVch2ct1pDLFGCzpfY6Y5dR83U6IllnBQZlaCiBCrjBqFG5l633qm1OgUyukCa4i+2Q4yXbnfaYv7FdQwMtOVTEjSSXFDhqGNCSKZQS4HmrbHTWWbf7iUXeRVNDMgaVcQNaCkNGHMOIptbEXgHYZqEDxvQ6az+gKUlUyI0kMyiX2+Z5H8gmjkApXYR52XI/leO8TGlIUkCF3CiVci0c0eF5A8qJSRdzveQH3jaspZQMIZcq5UZCYRzJQR3WOSJJn8rttcxbTmJ44vdquZEUcpkCHNRlnQ+Y4P7+YVhmt2EJeeXcIIFSAQ7p8qJjl+Ru1mW3EVTPjQQXcQ9bZoNLczfqttsF1XNjjN/j/tYy6x29JHfTdeJGk0/ldlo37bgBAOmiw1AJd/JY0gRtenLDp5SuiZumjBu0n9uaIm6MaDeXlnJKuDFXe7kFyKeEG93axR0GLYWxiR23mxssawt3mb3OIcmMSpK87dygPdweS+10HuSSlqbUZm7QLu4LOrxjWJLJZUok2sgN2sEtQY9Oe3wiKRUAbeQG18qFUgletsZuDckYbecG18ZNSBMDd5njFDLazg2uhZsmyCTwpm9abhxoOzeYHPcFx1HKZRNcDum0A5gSbsBktzugoaVQyGQ2udVqDaaMG0yO+76lnnNYqQQHLbZFA6aMG0yWe1CXXUY1jHrFXbYCU8gNrp5bosT73tXE6+Za7RxTzA2unpu0lGAE+y3wM2CKucFkuA0JOXrMssooFXAjd3XcpJRQgt/o9LoEFXDjMVfOLTEmlyQtYza53VYV9VURT7py7ghacsC75lvrgsr6y/iNK+HeoYkcJGR2Wmi7SlsUPa6E2+02HynRAj/2j541qLJOedhfxEpXxl3kPheQcNgSu1TYObcLEa+5HDfJlXhaH8ZsNsdapQrr9GdCRHI5bq6lBGfxaw/ZalRlDZh10WXypbkkTaVSidyA+TaotIeE/8deipsmgC0tTbDPq1Y7rbI+cJ+bL8ZegttUKGVyLfCWH9inwhq+dYlXxIu5BUoUCqVSss6XrXZWZY3qMOPTsRdxn7BcAUrAIQu9IVdZx8y63M33BPeAFR43iISGXvP0qLTv+dxlsCT/ZaVN9vuRlwG/8oA1zqusfne6QVwWS+E1z3jFEfuMKbxloV0q7Z6ruPlOfuJxL8uct9WtnjSosk5bYuZVYGlYb5VXvKfTmyrsjDmT+J9Cqdda3dZLKqzbn04CywU/t8eIyuo3x2fFpLAklfagEJPGVthxD5pRD+yobwlRB2xLtxn1wB41W4h6YL/nM/XA9rvLjaIe2LuFqAP2nA4z64E95RtC1APb6QuTwiZJpb3vdp8Xk8KSq7T7xGQnKFXWhxaZeFpN92MwaG4bvrQrqwAXut10jdhCrph67BGzxbVOtORypSnuYdEGbDaBTVO51fluags2VyiUU8fN/FMbP6oolVOHvaDLLW3DQkKaCuwJs0X7Jkxlj/p8PbB97vQFUQ/sfULUAfuRJWbWAztxvVYPbLcb64HtN8dnRD2wDwlRB+xRD/jzemDH3ClEHbDjOs2oB/aoWULUA/uIP6gHtt88N4p6YP9ZiDpgz1hqZj2wH5ktRD2wHf6kHth+t/tDUQ/sA0LUAXvCQrfUAzvsDiHqgM11u7ke2A/MFqIe2EdEPbBH3OOmemBz3xaiDtghj7qlHtgPfV2IemCX+qN6YPvM9ceiHtj5QtQBe8piM+uBPesbQtQD2+nGemAHfF2IemAXinpgP/AdN9cD2zBPiDpgR3WZUQ/sMbOFqAd2qc/VA9tvnhtEPbD3ClEH7CeWmlkP7CfmiHpM6HJDfbCfFXWZ/wNHNYdU7yYCjQAAAABJRU5ErkJggg==') no-repeat 0 27px;
    display: none;
    height: 200px;
    left: 100%;
    margin-left: -10px;
    padding-left: 10px;
    position: absolute;
    text-align: center;
    top: 140px;
    width: 168px;
    z-index: -1;
    transition: all 0.15s ease-out;

    &:hover {
      margin-left: 0;
    }

    a {
      border-bottom: 1px solid #b5e1ef;
      color: #fff;
      transition: all 0.15s ease-out;
      font-size: 13px;

      &.g-link-dashed {
         border-bottom-style: dashed;
         cursor: pointer;
      }

      &:hover,
      &:focus {
         border-bottom-color: #fff;
         color: #fff;
         outline: none;
         text-decoration: none;
      }
    }
  }

  @media (min-width: 992px) {
    .modal-help {
      display: block;
    }
  }

  .modal-footer {
    background-color: $footer-background-clr;
    border-top-color: $footer-border-clr;
    padding: 24px 20px;
    text-align: left;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    .form-group {
      margin-bottom: 0;
    }
  }

  button.close {
    background-color: rgba(48, 59, 79, 0.1);
    border-top-right-radius: 4px;
    height: 30px;
    margin: 0;
    opacity: 1;
    position: absolute;
    padding: 5px;
    right: 0;
    top: 0;
    width: 30px;
    z-index: 5;
    font-size: 14px;
    transition: all 0.15s ease-out;

    &:hover {
       background-color: rgba(48, 59, 79, 0.2);
       opacity: 1;
       color: $hover-close-button-clr;
       text-decoration: none;
       cursor: pointer;
     }

    &:focus {
       outline: none;
    }
  }

  .modal-header {
    padding: 24px 20px;
  }

  .modal-body,
  .modal-footer {
    padding: 16px 20px;

    @media (min-width: 768px) {
      .btn-primary {
        min-width: 210px;
        padding-left: 50px;
        padding-right: 50px;
      }
    }

    .btn-primary {
      font-size: 16px;
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  @media (min-width: 768px) {
    .modal-header {
      padding: 26px 38px;
    }

    .modal-body,
    .modal-footer {
      padding: 40px 48px;
    }
  }
}


.$(cls-prefix)-modal-invoice.modal-invoice {
  z-index: 1060;

  .modal-dialog {
    width: 600px;

    button.close {
      background-color: rgba(48, 59, 79, 0.1);
      border-top-right-radius: 4px;
      height: 30px;
      margin: 0;
      opacity: 1;
      position: absolute;
      padding: 5px;
      right: 0;
      top: 0;
      width: 30px;
      z-index: 5;
      font-size: 14px;
      transition: all 0.15s ease-out;
      color: #fff;

      &:hover {
        background-color: rgba(48, 59, 79, 0.2);
        opacity: 1;
        color: $hover-close-button-clr;
        text-decoration: none;
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }

    .modal-content {
      background-color: transparent;
      color: #fff;
      font-weight: bold;
      box-shadow: none;
      border: 0;

      img {
        max-width: 600px;
        border-radius: 5px;
      }
    }

    .glyph.glyph-close:before {
      content: "\00CE";
    }
  }
}
